.homePadding {
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(182, 177, 122);
}

.homePadding p {
  text-align: justify;
  text-justify: inter-word;
}